name: Build and Release Snap

on:
  push:
    branches:
    - master
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        architecture:
        - amd64
        - i386
        - armhf
        playtest:
        - true
        - false
    continue-on-error: ${{ matrix.playtest }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set playtest=${{ matrix.playtest }}
      run: echo 'PLAYTEST="${{ matrix.playtest }}"' > build-type
    - name: Build
      id: build
      uses: diddlesnaps/snapcraft-multiarch-action@v1
      with:
        architecture: ${{ matrix.architecture }}
    - name: Review
      uses: diddlesnaps/snapcraft-review-tools-action@v1
      with:
        snap: ${{ steps.build.outputs.snap }}
        isClassic: 'false'
    - name: Publish release to Beta
      uses: snapcore/action-publish@v1
      if: matrix.playtest == false
      with:
        store_login: ${{ secrets.STORE_LOGIN }}
        snap: ${{ steps.build.outputs.snap }}
        release: beta
    - name: Publish playtest to Edge
      uses: snapcore/action-publish@v1
      if: matrix.playtest == true
      with:
        store_login: ${{ secrets.STORE_LOGIN }}
        snap: ${{ steps.build.outputs.snap }}
        release: edge
